body {
  margin: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  height: 100vh;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

#app {
  overflow: hidden;
}

#photo-gallery {
  position: relative;
  width: 100vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: transform 0.8s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: inherit;
  height: inherit;
}

.slide {
  background: #1f1f1f;
  width: inherit;
  height: inherit;
}

.slide-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.caption {
  color: white;
  font-size: 10px;
  background: rgba(0,0,0,0.5);
  padding: 8px 48px 8px 48px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Avenir Next', sans-serif;
}

.direction { 
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.left {
  left: 48px;
}

.right {
  right: 48px;
}

@media (min-width: 600px) {
  #photo-gallery {
    height: 50vh;
  }

  .caption {
    font-size: 12px;
  }
}


@media (min-width: 800px) {
  #photo-gallery {
    height: 75vh;
  }

  .caption {
    font-size: 16px;
    padding: 16px 48px 16px 48px;
  }
}

@media (min-width: 1200px) {
  #photo-gallery {
    height: 100vh;
  }
}