body {
  margin: 0;
  overflow-x: hidden;
}

.gallery {
  display: flex;
  flex-direction: row;
  -webkit-transition: transform 0.8s;
  transition: transform 0.5s;
}

.slide {
  background: #0e0e0e;
}

.slide-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 16px 48px 16px 48px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-family: 'Avenir Next', sans-serif;
}

.direction { 
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.left {
  left: 48px;
}

.right {
  right: 48px;
}